{% extends 'base.html' %}
{% block content %}
<div>
<h1>Lista GeoStanowisk:</h1>
	<ol>
	{% for spot in spots %}
	<li>Nazwa: <a href="{% url 'geospot' spot.id %}">{{spot.name}}</a><br>Lokalizacja: 
	<a href="http://maps.google.com/maps?q={{spot.latitude}},{{spot.longitude}}" target='a_blank'>
	N {{spot.latitude}} E {{spot.longitude}}</a> 
	---Sprawdź na Google Maps<br>
	Dodane przez: {{spot.added_by}}</li>
	{% empty %}
	   brak
	{% endfor %}
	</ol>
<br>
<a href="{% url 'add-geospot' %}"><input type="submit" value="Dodaj nowe miejsce" /></a>
<br>
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/view?zoom=5&center=51.9194%2C19.1451&key=AIzaSyAtsLK68QWXli9IFPQfX0uqMbFYA0qozX0" allowfullscreen>
Mapa geostanowisk</iframe>

<br>
<a href="{% url 'base' %}"><input type="submit" value="Strona Główna" /></a>



</div>
{% endblock %}